.button {
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
    @include md {
        width: 300px;
        max-width: 100%;
    }
    &--primary {
        border: none;
        background-color: $primary;
        color: $white;
        cursor: pointer;
        transition: transform 0.1s ease-in;
        &:hover, &:focus {
            transform: translateY(-1px);
            background-color: $primary-hover;
        }
    }
}