.input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: solid 1px $light;
    height: 40px;
    @include md {
        width: 300px;
    }
    &:focus {
        border-bottom: solid 1px $input-focus-color;
    }
    &[type = 'submit'] {
        border: none;
        background-color: $primary;
        cursor: pointer;
        transition: transform 0.1s ease-in;
        &:hover, &:focus {
            transform: translateY(-1px);
            background-color: $primary-hover;
        }
    }
}