.input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: solid 1px $light;
    height: 40px;
    display: block;
    @include md {
        width: 300px;
    }
    &:focus {
        border-bottom: solid 1px $input-focus-color;
    }
    &[type = 'submit'] {
        border: none;
        background-color: $primary;
        cursor: pointer;
        transition: transform 0.1s ease-in;
        &:hover, &:focus {
            transform: translateY(-1px);
            background-color: $primary-hover;
        }
    }
}


.label {
    color: $input-focus-color;
    display: inline-block;
    transition: all 0.1s ease-in;
    &--hidden {
       transform: scale(0);
       transform-origin: 0% 0%;
       overflow: hidden;
    }
}

.invalid {
    border: solid 2px red !important;
}