html, body, h1, h2, h3, h4, h5, h6, p, ul, li, button {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: dosis;
}

html {
    font-size: 80%;
    @include md {
        font-size: 100%;
    }
}

html, body, #app {
    height: 100%;
}

#root, #component, #router {
    height: 100%;
}

ul {
    list-style: none;
} 