.bold-txt {
    font-weight: bold;
}

.sm-txt {
    font-size: 0.7rem;
}

.md-txt {
    font-size: 1rem;
}

.lg-txt {
    font-size: 2rem;
}

.xl-txt {
    font-size: 3rem;
}

.black-txt {
    color: $black;
}

.dark-txt {
    color: $dark;
}

.light-dark-txt {
    color: $light-dark;
}

.grey-txt {
    color: $grey;
}

.light-grey-txt {
    color: $light-grey;
}

.light-txt {
    color: $light;
}

.white-txt {
    color: $white;
}

.center-txt {
    text-align: center;
}
