
.block {
  display: block;
}

.flex {
  display: flex;
}

.flex--v {
  flex-direction: column;
}

.flex--js {
  justify-content: flex-start;
}

.flex--jsb {
  justify-content: space-between;
}

.flex--jsa {
  justify-content: space-around;
}

.flex--jc {
  justify-content: center;
}

.flex--je {
  justify-content: flex-end;
}

.flex--as {
  align-items: flex-start;
}

.flex--ac {
  align-items: center;
}

.flex--ae {
  align-items: flex-end;
}

.flex--ast {
  align-items: stretch;
}

@for $i from 1 through 5 { 
  .flex#{$i} {
    flex: #{$i};
  }
}



.m-half {
  margin: 0.5rem;
}
@for $i from 1 through 5 { 
  .m#{$i} {
    margin: #{$i}rem;
  }
}

.mt-half {
  margin-top: 0.5rem;
}

@for $i from 1 through 5 {
  .mt#{$i} {
    margin-top: #{$i} + rem;
  }
}
  


.mr-half {
  margin-right: 0.5rem;
}
@for $i from 1 through 5 { 
  .mr#{$i} {
    margin-right: #{$i}rem;
  }
}

.mb-half {
  margin-bottom: 0.5rem;
}
@for $i from 1 through 5 { 
  .mb#{$i} {
    margin-bottom: #{$i}rem;
  }
}

.ml-half {
  margin-left: 0.5rem;
}

@for $i from 1 through 5 { 
  .ml#{$i} {
    margin-left: #{$i}rem;
  }
}

.p-half {
  padding: 0.5rem;
}
@for $i from 1 through 5 { 
  .p#{$i} {
    padding: #{$i}rem;
  }
}

.pt-half {
  padding-top: 0.5rem;
}
@for $i from 1 through 5 { 
  .pt#{$i} {
    padding-top: #{$i}rem;
  }
}

.pr-half {
  padding-right: 0.5rem;
}

@for $i from 1 through 5 { 
  .pr#{$i} {
    padding-right: #{$i}rem;
  }
}

.pb-half {
  padding-bottom: 0.5rem;
}

@for $i from 1 through 5 { 
  .pb#{$i} {
    padding-bottom: #{$i}rem;
  }
}

.pl-half {
  padding-left: 0.5rem;
}

@for $i from 1 through 5 { 
  .pl#{$i} {
    padding-left: #{$i}rem;
  }
}

.hide {
  display: none;
}

.black-bg {
  background-color: $black;
}

.dark-bg {
  background-color: $dark;
}

.light-dark-bg {
  background-color: $light-dark;
}

.grey-bg {
  background-color: $grey;
}

.light-grey-bg {
  background-color: $light-grey;
}

.light-bg {
  background-color: $light;
}

.white-bg {
  background-color: $white;
}

.scale0{
  transform: scale(0);
}

.right-arrow {
  width: 10px;
  height: 10px;
  border-left: solid 2px white;
  border-bottom: solid 2px white;
  display: block;
  transform: rotate(-135deg);
}

.o-auto {
  overflow: auto;
}
