// server url
$server-host: 'http://localhost:5000/';


// colors
$black: #000;
$dark: #333;
$light-dark: #666;
$grey: #999;
$light-grey: #aaa;
$light: #ddd;
$white: #fff;
$primary: #ff0000;
$primary-hover: #a10d0d;
$input-focus-color: #1bebeb;

// screen sizes
$md-screen-min: 640px;
$lg-screen-min: 960px;
