.shopping-header {
  height: 90px;
  @include md {
    height: 120px;
  }
  header {
    display: flex;
    width: 100%;
    align-items: flex-end;
    border: solid 1px $light;
    box-shadow: 0 2px 4px $light-grey;
    padding: 0.5rem;
    include md {
      padding: 1rem 5rem;
    }
  }

  header nav,
  header ul {
    display: none;
    @include md {
      display: flex;
    }
  }

  header nav {
    margin-bottom: 1rem;
  }

  header li {
    padding: 0.5rem;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: $light-dark;
    button {
      background-color: transparent;
      border: none;
    }
  }

  .logo {
    background: url("./../static/images/logo.png");
    width: 120px;
    height: 50px;
    background-size: 100% 100%;
    margin-right: 2rem;
  }

  .cart {
    display: flex;
    align-items: center;
  }

  .cart-btn-cntnr {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    @include md {
      justify-content: space-between;
    }
    .btn-cntnr {
      display: none;
      @include md {
        display: flex;
      }
    }
  }

  .cart-image {
    background: url("./../static/images/cart.svg");
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    margin-right: 0.5rem;
  }

  .cart {
    background-color: $light;
    padding: 0.5rem;
    border: none;
  }

  .cart__button {
    border: none;
    background: transparent;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    cursor: pointer;
    margin-bottom: 0.5rem;
  }

  @include md {
    .logo {
      background: url("./../static/images/logo_2x.png");
      width: 190px;
      height: 86px;
      background-size: 100% 100%;
    }
  }
}
