
.login {
    width: 100%;
    &__content {
        &>:first-child {
            margin-bottom: 2rem;
        }
        @include md {
            flex-direction: row;
            &>:first-child {
                margin-bottom: 0;
            }
        }
    }
}

#header-cntr {
    width: 100%;
}


